.registerpage-container{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: solid black 1px; */
}

.registration-form-container{
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 100%;
}

.registration-form-container p{
    color:#494949;
    font-size: 2rem;
    font-weight: 700;
}

.registration-form-container .MuiTextField-root, .MuiButton-root{
    margin-top: 2%;
    width: 40%;
}

/* .footer-fetisher{
    margin-top: auto;
    border-top: 1px solid #D3D3D3;
    width: 190%;
    padding: 2% 75% 2% 75%;
    box-sizing: border-box;
} */